*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
#gameContainer{
    display: flex;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 30px;
}
.gameControls{
    border: 1px solid red;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    padding: 10px;
    border: 1px solid red;
}
.cellComputer, .cellPlayer {
    border: 1px solid red;
}
.cellPlayer:hover{
    background-color: aqua;
}
.cellPlayer.ship{
    background-color: red;
}
.cellComputer.ship{
    background-color: blueviolet;
}
#errorDisplay{
    border: 1px solid red;
}
.cellComputer.hit{
    content: "X";
    background-color: aqua;
}